@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.barnav{
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-barnav{
  color: black;
  text-decoration: none;
  font-size: larger;
  padding: 0rem 1rem 0rem 1rem;
  text-align: center;
}

.link-barnav:hover{
  color: rgba(55, 125, 210, 0.858);
}

.layout{
  margin: 0px 5% 0px 5%;
  font-family: 'Roboto Mono', monospace;
}

.sobre-mi{
  text-align: center;
}

.contenedor-foto-descripcion-sobre-mi{
  display: grid;
  grid-template-columns: 25vw 1fr;
  align-items: center;
  justify-content: center;
}

.box-img-about-me{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-sobre-mi{
  width: 100%;
  border-radius: 50%;
}

.descripcion-sobre-mi{
  padding: 0px 5% 0px 5%;
}

.g1c{
  display: grid;
  grid-template-columns: 1fr;
  border-style: solid;
  padding: 0rem 7rem 0rem 7rem;
  margin-top: 1rem;
}

.g2c{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  padding: 0rem 7rem 0rem 7rem;
  margin-top: 1rem;
}

.br10{
  border-radius: 10rem;
}

.shadow:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 996px) {
  .g1c{
    padding: 0rem 1rem 0rem 1rem;
  }
  .g2c{
    grid-template-columns: 1fr;
    padding: 0rem 1rem 0rem 1rem;
  }

  .br10{
    border-radius: 1rem;
  }

  .contenedor-foto-descripcion-sobre-mi{
    grid-template-columns: 1fr;
  }
  .foto-sobre-mi{
    width: 40%;
  }
}