{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="image/png" sizes="64x64" href="{% static '/img/goat.png' %}">
        <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <title>Resume</title>
    </head>
    <body>
        <div class="barnav">
            <h3><a class="link-barnav" href="{% url 'index' %}">Inicio</a></h3>
            <h3><a class="link-barnav" href="{% url 'project' %}">Proyectos</a></h3>
        </div>
        <hr>
        <div class="layout">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
