{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Resume</title>
    </head>
    <body>
        <div class="barnav">
            <h3><a class="link-barnav" href="{% url 'index' %}" >Inicio</a></h3>
            <h3><a class="link-barnav" href="{% url 'project' %}">Proyecto</a></h3>
        </div>
        <hr>
        <div class="layout">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
