{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Resume</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <!--========== MAIN JS ==========-->
    <script src = "{% static 'js/main.js' %}"> </script>
    <!--========== HTML2PDF ==========-->
    <script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>
</html>
