{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="sobre-mi">
    <h1>
        Sobre mi
    </h1>
</div>
<div class="contenedor-foto-descripcion-sobre-mi">
    <div class="box-img-about-me">
        <img class= "foto-sobre-mi" src="{% static 'img/1622608198300.jpeg' %}" alt="Yo">
    </div>
    <div class="descripcion-sobre-mi">
        <p>
            Mi nombre es José Izam, soy estudiante de Magíster en ciencias de datos e Ingeniería civil industrial en la Universidad Adolfo Ibáñez, actualmente me encuentro desarrollando una tesis para obtener el grado de magíster, la cual trata sobre optimización y pricing en el área del Retail. Los ramos que más me gustaron en la Universidad fueron programación, bases de datos, estructura de datos, álgebra lineal, Minería de datos y Machine learning.
            <br><br>
            Mi área de conocimientos más sólidos es la de Machine learning supervisado, Regresión lineal, lasso, Ridge, regresión logística, SVM, arboles de decisión y KNN.
            <br><br>
            Por otra parte, consto con conocimientos en Álgebra lineal y Estadística habilidades poco valoradas pero extremadamente importantes para esta área.
        </p>
    </div>
</div>
 
<div class="g2c br10 shadow">
    <div class="tecnologias">
        <h1>Tecnologías</h1>
        <ul style="columns: 2;">
            <li>Python</li>
            <li>R</li>
            <li>Postgres SQL</li>
            <li>MongoDB</li>
            <li>Excel</li>
            <li>Power BI</li>
            <li>Plotly Dash</li>
            <li>Git</li>
            <li>VM</li>
            <li>Linux terminal</li>
            <li>Airflow</li>
            <li>Consumo de APIs</li>
            <li>Cron jobs</li>
            <li>Cloud (Heroku & Digital Ocean)</li>
        </ul>
    </div>
    <div class="Educacion">
        <h1>Educación</h1>
        <dl>
            <dt>MASTER OF SCIENCE IN DATA SCIENCE</dt>
            <dd>Universidad Adolfo Ibáñez 2021 – (Cursando)</dd>
            <dt>INGENIERÍA CIVIL INDUSTRIAL</dt>
            <dd>Universidad Adolfo Ibáñez 2017 – 2021</dd>
        </dl>
    </div>
</div>

<div class="g2c shadow">
    <div class="Logros academicos">
        <h1>Logros académicos</h1>
        <dl>
            <dt>Banco de Chile | Estudiante</dt>
            <dd>Beca Padre Hurtado pago total de estudios superiores,
                por excelencia académica en el colegio.</dd>
            <dt>Colegio Hispano Americano</dt>
            <dd>Reconocimiento de egreso como el alumno destacado en
                la asignatura de matemáticas.</dd>
        </dl>
    </div>
    <div class="Idiomas">
        <h1>Idiomas</h1>
        <ul>
            <li>Español</li>
            <li>Ingles</li>
        </ul>
    </div>
</div>

<div class="g1c br10 shadow">
    <div class="experiencia-laboral">
        <h1>Experiencia laboral</h1>
        <dl>
            <dt>Data Scientist intern | Justo <b>(Ene 2022-Mar 2022)</b></dt>
            <dd>Creación de ETLs en Python con la API MongoDB y Postgres para automatización de reportes producidos en Plotly Dash,
                 dejados en produción con Heroku y actualizados diariamente con Apache Airflow.</dd>
            <dd>Creación de modelos de ML, para problemas de clasificación y clusterización con Scikit-learn</dd>
            <br>
            <dt>Tesista | Universidad Adolfo Ibañez <b>(Oct 2021-Actualidad)</b></dt>
            <dd>Aplicación de modelos jerárquicos bayesianos para cálculo de elasticidades y predicción de la demanda en supermercado Tottus</dd>
            <dd>Optimización de precios</dd>
            <br>
            <dt>Practicante universitario | Credicorp Capitals <b>(Ago 2021 - Oct 2021)</b></dt>
            <dd>Realización de queries SQL de alta complejidad en grandes datasets.</dd>
            <dd>Creación de reportes/visualizaciones de datos con Power-Bi y Python.</dd>
            <dd>Apoyo en el levantamiento y entrega de información según requerimientos del área.</dd>
            <br>
            <dt>Ayudante de Cátedra Programación | Universidad Adolfo Ibañez <b>(2 Semestres)</b></dt>
            <dd>Planificación de ayudantías</dd>
            <dd>Instructor ayudantías</dd>
            <dd>Corrector de controles</dd>
    
        </dl>
    </div>
</div>

<div class="g1c shadow">
    <div class="Voluntariado">
        <h1>Voluntariado</h1>
        <dl>
            <dt>Integrante equipo electromovilidad UAI <b>(3 Semestres)</b></dt>
            <dd>Simulación de carrera solar a partir de datos telemetricos </dd>
            <br>
        </dl>
    </div>
</div>
{% endblock %}