{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="sobre-mi">
    <h1>
        Sobre mi
    </h1>
</div>
<div class="descripcion-sobre-mi">
    <p>
        Mi nombre es José Izam, soy estudiante de Magister en ciencas de datos e Ingenieria
        civil industrial en la Universidad Adolfo Ibañez, actualmente me encuentro desarrollando
        una tesis para obterner el grado de magister, la cual trata sobre optimizacion y pricing.
        Los ramos que más me gustaron en la Universidad fueron programacion, bases de datos,
        estructura de datos, algebra lineal, Mineria de datos y Machine learning.
    </p>
</div>

{% endblock %}