{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Visualizaciones de kernels</h1>
    <p>
        link proyecto: <a href="https://kernels-visualizations.herokuapp.com/">kernels-visualizations</a>
    </p>
    <h1>Graficos historicos de distintos tipos de activos</h1>
    <p>
        link proyecto: <a href="https://fintual-api-plotlydash.herokuapp.com/">fintual-api-plotlydash</a>
    </p>
    <h1>Cubo educativo</h1>
    <p>
        link proyecto: <a href="https://cubo-educativo.herokuapp.com/">cubo-educativo</a>
    </p>
    <h1>Ke horario</h1>
    <p>
        link proyecto: <a href="https://kehorario.herokuapp.com/">kehorario</a>
    </p>

    </ol>
{% endblock %}